[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=palm detection
Comment=
Exec=xinput set-prop 12 "Synaptics Palm Detection" 1
OnlyShowIn=XFCE;
StartupNotify=false
Terminal=false
Hidden=false

