[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/bret/Desktop/bretsomsen.github.io]
row=0
col=0

[/home/bret/Desktop/reboot_nw]
row=1
col=0

[iPhone]
row=5
col=0

[Trash]
row=2
col=0

[/]
row=3
col=0

[/home/bret]
row=4
col=0

